<div style="padding-bottom:15px" class="row">
    <h1> <i style="color: darkslategrey" class="fa fa-gear"></i>&nbsp;Configurações do Sistema</h1>
</div>
<br />
<br />
<div class="row">
    <div style="width:400px" class="col-5">
        <img class="img-fluid" src="~/images/admin_img.png" alt="Àrea de Administração" />
    </div>
    <div style="text-align: justify; font-style: italic;font-weight: 600;" class="col-7">
        <span>Aqui você pode criar, editar e excluir produtos, categorias e pedidos. Pode também, verificar reátórios, ver gráficos e controlar as imagens do sistema. Os recursos são excluisivos para o administrador do sistema, não possibilitando assim, outros usuários acessarem este local.</span>
    </div>

</div>

<div style="padding-top:40px" class="container">
    <div class="jumbotron">
    </div>
    <a class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="Index"><i class="fa fa-circle-arrow-left"></i> Volta a Home Page</a>
</div>