@model ProdutoListViewModel


<div>
    <h1>@Model.CategoriaAtual</h1>
</div>

<div class="container">
    <div class="row">
        @foreach (var produto in Model.Produtos)
        {
            <partial name="_ProdutosResumo" for="@produto" />
        }
    </div>
</div>