@model CarrinhoCompraViewModel

@if(Model.CarrinhoCompra.CarrinhoCompraItens.Count > 0)
{
    <a  style="padding-left: 15px" asp-controller="CarrinhoCompra" asp-action="Index">
        <span><i style="color:white" class="fa fa-cart-plus"></i> </span>
        <span style="color:white">
            @Model.CarrinhoCompra.CarrinhoCompraItens.Count
        </span>
    </a>
}